<!DOCTYPE html>
<!--
Mostrar la lista de clientes, suministrados por una api
    permitir integracion con AngularJS
    permitir integracion con Bootstrap
-->

    <div>
        <div  class="alert alert-success" ng-show="showMsg">
            Eliminado con exito!!!;
        </div>
        <table class="table table-bordered">
            <tr>
                <th ng-repeat="header in tabla.encabezado">
                    {{ header }}
                </th>
            </tr>
            <tr ng-repeat="item in tabla.datos">
                <td> <a ng-href = "#!/clientes/{{item.id}}">{{item.id}}</a></td>
                <td>{{item.nombre}}</td>
                <td>{{item.apellido}}</td>
                <td>{{item.activo}}</td>
                <td>{{item.tipo.nombre}}</td>
                <td>{{item.createdOn}}</td>
                <td><a ng-click="delete(item.id)" class="btn btn-primary">Borrar</a></td>
            </tr>
        </table>
        <a type="button" class="btn btn-primary" href="#!/clientes/new">Nuevo</a>
    </div>
