<!DOCTYPE html>
<!--
Mostrar la lista de clientes, suministrados por una api
    permitir integracion con AngularJS
    permitir integracion con Bootstrap
-->

    <div>
       <table border=0 cellspacing=0 >
            <tr>
                <th ng-repeat="header in tabla.encabezado">
                    {{ header }}
                </th>
            </tr>
            <tr ng-repeat="item in tabla.datos">
                <td ng-repeat="header in tabla.encabezado">
                    {{ item[header] || '' }}
                </td>
            </tr>
        </table>
        <a type="button" class="btn btn-primary" href="#!/clientes/new">Nuevo</a>
    </div>
