<!DOCTYPE html>
<!--
Mostrar la lista de clientes, suministrados por una api
    permitir integracion con AngularJS
    permitir integracion con Bootstrap
-->

    <div>
        <table border=0 cellspacing=0 class="table table-bordered " >
            <tr>
                <th ng-repeat="header in tabla.encabezado">
                    {{ header }}
                </th>
                
            </tr>
            <tr ng-repeat="item in tabla.datos">
                <td >{{ item.id }}</td>
                <td >{{ item.nombre }}</td>
                <td >{{ item.descripcion }}</td>
                <td >{{ item.iva }}</td>
                <td >{{ item.precio | currency }}</td>
                
            </tr>
        </table>
    </div>